.box {
    width:30%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 35%;
    border: 3px solid black;
    padding: 35px;
    border-radius: 20px;
    background-color: black;
}

.body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button1 {
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 7px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1:hover {
    color: white;
    background-color: #037bfc;
    border-color: #037bfc;
}

.important {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.box {
    margin: auto;
    width:35%;
    border: 3px solid black;
    padding: 35px;
    border-radius: 20px;
    background-color: black;
}

body {
    margin: auto;
    background-image: url("/static/auth_background.jpg");
    background-size: cover;
}

body {
    font-family: "Lato", sans-serif;
}

.button {
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    width: 170px;
    height: 25px;
}

.button.create {
    color: green;
    background-color: rgb(170, 170, 170);
    border-color: rgb(170, 170, 170);
}
.button.join {
    color: #037bfc;
    background-color: rgb(170, 170, 170);
    border-color: rgb(170, 170, 170);
}

.button.create:hover {
    color: white;
    background-color: green;
    border-color: green;
}

.button.join:hover {
    color: white;
    background-color: #037bfc;
    border-color: #037bfc;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.35s;
    padding-top: 40px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.15s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #818181;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
    transition: 0.5s;
}
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 23px;
}

.sidenav .logout {
  color: red;
  position: absolute;
  bottom: 7%;
  border-radius: 100px;
  width: 220px;
}

.sidenav .logout:hover {
    background-color: #f5cbcb;
    color: red;
}

#main {
    transition: margin-left 0.35s;
    padding: 20px;
    margin-left: 250px;
}

.fa {
    width: 40px !important;
    text-align: center !important;
}