input {
    margin-bottom: 10px;
    border-radius: 4px;
}

button {
    border-radius: 4px;
}

.box {
    width:30%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 35%;
    border: 3px solid black;
    padding: 35px;
    border-radius: 20px;
    background-color: black;
}

.body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button1 {
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 7px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1:hover {
    color: white;
    background-color: #037bfc;
    border-color: #037bfc;
}

.important {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.box {
    margin: auto;
    width:35%;
    border: 3px solid black;
    padding: 35px;
    border-radius: 20px;
    background-color: black;
}

body {
    margin: auto;
    background-image: url("/static/auth_background.png");
    background-repeat: repeat;
}

body {
    font-family: Calibri, serif;
}

.button {
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    width: 13.3%;
    height: 25px;
}

.button.create {
    color: green;
    background-color: white;
    width: auto;
    margin-right: 5%;
}
.button.join {
    color: #037bfc;
    background-color: white;
    width: auto;
    margin-right: 5%;
}

.button.invite {
    color: #c966ff;
    background-color: white;
    width: auto;
    margin-right: 5%;
}

.button.create:hover {
    color: white;
    background-color: green;
    border-color: green;
}

.button.join:hover {
    color: white;
    background-color: #037bfc;
    border-color: #037bfc;
}

.button.invite:hover {
    color: white;
    background-color: #c966ff;
    border-color: #c966ff;
}

.button.setTimeFrame {
    transition: 0.3s;
    color: orange;
    padding: 5px 10px 5px 10px;
    background-color: white;
}

.button.setTimeFrame:hover {
    color: white;
    background-color: orange;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.35s;
    padding-top: 40px;
}


.sidenav-main {
    overflow-y: auto;
    height: 80%;
    padding-right: 25px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.15s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 3.9%;
    color: #818181;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.sidenav a, .dropdown-btn {
    padding: 6px 16px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
    transition: 0.5s;
}
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 23px;
}

.sidenav .logout {
  color: red;
  position: absolute;
  bottom: 7%;
  border-radius: 100px;
  width: 220px;
}

.sidenav .logout:hover {
    background-color: #f5cbcb;
    color: red;
}

#main {
    transition: margin-left 0.35s;
    padding: 20px;
    margin-left: 20%;
}

.fa {
    width: 40px !important;
    text-align: center !important;
}

.success {
    color: limegreen;
    font-weight: bold;
}

.danger {
    color: red;
    font-weight: bold;
}



.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    padding-left: 2%;
    color: white;
    display: none;
    width: 12%;
    background-color: black;
    z-index: 9;
    position: relative;
    margin-top: 15%;
    margin-left: 85%;
    border-radius: 10%;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.content {
    font-size: 20px;
    width: 80%;
}