{% extends "base.html" %}
{% block content %}
<p>This website will simplify the ordering process between a restaurant and its customers. It allows customers to form groups with allocated organisers, in which each group is able to collect payments and distribute orders. To create a new group, click on the "Create Group" button on the (create page??) and to join an existing group retrieve the invitation code from the project leader. 
If you are a restaurant manager or chef, you are able to view the orders made by customers once you log in. Here, you can view the orders that need to be completed as a list, as well as useful data visualisations about the orders made within the past couple of weeks. This allows you to gain an understanding about which food items are popular and also see the number of sales you got. 
To create a group order, everyone in the group must select the food items they want (on what page??), and the group leader authenticates the order. 
</p>
{% endblock %}
