<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

{% block styles %}
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}

<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="mySidenav" class="sidenav">
  <a href="/ordererer/home"> <i class="fa fa-fw fa-home"></i> Overview</a>
  <a href="/orderer/about"> <i class="fa fa-info" style="margin-right: 3px"></i> About</a>

  <button class="dropdown-btn"><i class="fa fa-chevron-right"></i> Groups In</button>
    <div class="dropdown-container">
        <a href="#">Group 1</a>
        <a href="#">Group 2</a>
        <a href="#">Group 3</a>
    </div>

  <button class="dropdown-btn"><i class="fa fa-chevron-right"></i> Groups Owned</button>
    <div class="dropdown-container">
        <a href="#">Group 4</a>
        <a href="#">Group 5</a>
        <a href="#">Group 6</a>
    </div>

  <a class="button join"><i class="fa fa-arrow-up"></i>Join group</a>
  <a class="button create"><i class="fa fa-plus"></i>Create group</a>
  <a href="#" style="position: absolute; bottom: 7%" class="logout"><i class="fa fa-sign-out"></i> Logout</a>
</div>

<div id="main">
    {% block content %} {% endblock %}
</div>

<script>

var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click",
      function() {
          this.classList.toggle("active");
          var icon = this.children[0];
          var dropdownContent = this.nextElementSibling;

          if (dropdownContent.style.display === "block") {
              dropdownContent.style.display = "none";
              icon.classList.remove("fa-chevron-down");
              icon.classList.add("fa-chevron-right");
          } else {
              dropdownContent.style.display = "block";
              icon.classList.remove("fa-chevron-right");
              icon.classList.add("fa-chevron-down");
          }
    }
  );
}
</script>


</body>
</html>
