

{% extends "bootstrap/base.html" %}

{% block title %}
    {% block page_title %}{%endblock %}  login page
{% endblock %}
{% block content %}
<style>
.body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button1 {
  border-radius: 20px;
  background-color: white;
  color: black;
  padding: 7px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1:hover {
  color: white;
  background-color: #037bfc;
  border-color: #037bfc;
}
</style>
<body class="body">
    <img src="{{ url_for('static', filename='whiteBackground.jpg') }}" class="bg"/>
    <div>
        <form method="post" style="width:30%; position: absolute; top: 30%; left: 35%; border: 3px solid black; padding: 35px; border-radius: 20px; background-color: black">
            {{ form.hidden_tag() }}
            <h2><b style="color: white">Log In</b></h2>
            <br>
            <div class="form-group">
                {{ form.email(size = 20, class='form-control')   }}
                {% if form.email.errors %}
                    <ul class="errors">{% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password(size = 20, class='form-control')  }}
                {% if form.password.errors %}
                    <ul class="errors">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
                <small id="passwordHelp" class="form-text text-muted"><a href="/" style="color: white;"> Forgot Password? </a></small>
            </div>
            <button type="submit" class="button1">Submit</button>
            <button type="signUp" class="button1">Sign Up</button>
        </form>
    </div>
</body>
{% endblock %}
