{% extends auth_template.html %}

{% block auth %}
    <h2><b style="color: white">Log In</b></h2>
    <br>
    <div class="form-group">
        {{ form.email(size = 20, class='form-control')   }}
        {% if form.email.errors %}
            <ul class="errors">{% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.password(size = 20, class='form-control')  }}
        {% if form.password.errors %}
            <ul class="errors">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <small class="form-text text-muted"><a href="/" style="color: white;"> Forgot Password? </a></small>
    </div>
    <button type="submit" class="button1">Submit</button>
{% endblock %}