{% extends "auth_template.html" %}

{% block title %}
    {% block page_title %} Login {% endblock %}
{% endblock %}

{% block auth %}
    <h2><b style="color: white">Log In</b></h2>
    <br>
    <div class="form-group">
        {{ form.email(size = 20, class='form-control')   }}
        {% if form.email.errors %}
            <ul class="errors">{% for error in form.email.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.password(size = 20, class='form-control')  }}
        {% if form.password.errors %}
            <ul class="errors">{% for error in form.password.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <small class="form-text text-muted small-link"><a href="/forgot_password" style="color: white; float: left;"> Forgot Password? </a></small>
        <small class="form-text text-muted small-link"><a href="/register" style="color: white; float: right;"> Don't have an account? </a></small>
    </div>
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <button type="submit" class="button1">Log in</button>
{% endblock %}