{% extends "manager_base.html" %}
{% block content %}
    <div id="main">
        <table>
          <tr>
              <th>Name</th>
              <th>Email</th>

          </tr>
            {% for member in staff %}
              <tr>
                <td>{{member["name"]}}</td>
                  <td>{{member["email"]}}<a href="javascript:setParam('edit', 'true');"><i class="fa fw fa-times-circle"></i></a></td>
              </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        function setParam(name, value) {
                var l = window.location;

                /* build params */
                var params = {};
                var x = /(?:\??)([^=&?]+)=?([^&?]*)/g;
                var s = l.search;
                for(var r = x.exec(s); r; r = x.exec(s))
                {
                    r[1] = decodeURIComponent(r[1]);
                    if (!r[2]) r[2] = '%%';
                    params[r[1]] = r[2];
                }

                /* set param */
                params[name] = encodeURIComponent(value);

                /* build search */
                var search = [];
                for(var i in params)
                {
                    var p = encodeURIComponent(i);
                    var v = params[i];
                    if (v != '%%') p += '=' + v;
                    search.push(p);
                }
                search = search.join('&');

                /* execute search */
                l.search = search;
            }
    </script>
{% endblock %}
