{% extends "manager_base.html" %}
{% block content %}
    <div id="main">
        <table>
          <tr>
              <th>Name</th>
              <th>Email</th>

          </tr>
            {% for member in staff %}
              <tr>
                <td>{{member.name}}</td>
                  <td>{{member.email}}<i id={{member.user_id}} class="fa fw fa-times-circle" onclick="destroy(this)"></i></td>
              </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        function destroy(icon) {
            var row = icon.parentElement.parentElement;
            row.
        }
    </script>
{% endblock %}
