<html>
{% block styles %}
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}

<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="mySidenav" class="sidenav">
    <a href="/manager/home"> <i class="fa fa-fw fa-home"></i> Overview</a>
    <a href="/manager/menu"> <i class="fa fa-fw fa-cutlery"></i> Menu</a>
    <a href="/manager/staff"> <i class="fa fa-fw fa-users"></i> Staff</a>


  <a href="/logout" style="position: absolute; bottom: 7%" class="logout"><i class="fa fa-sign-out"></i> Logout</a>
</div>
{% block content %}
{% endblock %}
</body>
</html>