{% extends "base.html" %}
{% block content %}
<head>
<style>
.owedtoyou {
    color: green;
    font-weight: bold;
}

.owed {
    color: red;
    font-weight: bold;
}

</style>
</head>

    <h2>Overview</h2>
    <span>A total of <span class="owedtoyou">$111</span> is owed to you in:
        <br> - Group 1 <span class="owedtoyou">($11)</span>
        <br> - Group 2 <span class="owedtoyou">($100)</span>
    </p>
    <p>A total of <span class="owed">$999</span> is owed to:
        <br> - Group 3 <span class="owed">($99)</span>
        <br> - Group 4 <span class="owed">($900)</span>
    </p>
{% endblock %}

