{% extends "orderer_base.html" %}
{% block content %}
<h2>About this page</h2>
<p>
    Welcome to the orderer section of this website!
    <br><br>
    Here, you can either create groups or join existing ones. If you join an existing group, you can create an order
    once a time frame is allocated by the organiser. In your order, you will select the items you want and enter a
    quantity for each item. There will also be an option for you to specify the amount you want to pay in case you
    don't have the exact change to pay the full amount, and you/the organiser can pay the outstanding amount later. The
    payment process will be done in person; the software won't facilitate this process.
    <br><br>
    Once you submit your order, some time after the allocated time frame, the organiser will bring all the orders to the
    group and distribute them accordingly.
    <br><br>
    If you create your own group, you will become the "organiser" for that group. Your responsibilities include:
    <ul>
        <li> Selecting a time frame in which orderers can submit their orders and payments </li>
        <li> Accepting certain orders (to avoid spam orders or bad payments) </li>
        <li> Paying or receiving outstanding payments </li>
        <li> Collecting the orders once the time frame has passed and distributing it to the members of your group </li>
    </ul>
    As an organiser, you can also make orders within your own group.
</p>
{% endblock %}
