{% extends "orderer_base.html" %}
{% block content %}
<h2>About this page</h2>
<p>
    Welcome to the orderer section of this website!
    <br><br>
    Here, you can either create groups or join existing ones. If you join an existing group, you can create an order
    once a time frame is allocated by the organiser. In your order, you will select the items you want and enter a
    quantity for each item. The order can be updated any time before the ordering timeframe for that group closes. The
    payment process will be done in person; this website will simply record the amounts owed.
    <br><br>
    Once you submit your order, some time after the allocated time frame, the organiser will bring all the orders to the
    group and distribute them accordingly.
    <br><br>
    If you create your own group, you will become the "organiser" for that group. Your responsibilities include:
    <ul>
        <li> Selecting a time frame in which orderers can submit their orders and payments </li>
        <li> Collecting the orders once the time frame has passed and distributing it to the members of your group </li>
    </ul>
    You will be able to see all the orders made in the group and the total amount each person owes for their order.As an
    organiser, you can also make orders within your own group.
</p>
{% endblock %}
