{% extends "orderer_base.html" %}
{% block content %}
<head>
<style>
.owedtoyou {
    color: green;
    font-weight: bold;
}

.owed {
    color: red;
    font-weight: bold;
}

</style>
</head>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h2>Overview</h2>
    Welcome to the orderer section!
    Your details:
    <ul>
        <li> Name - <b> {{ user.name }} </b> </li>
        <li> Email - <b> {{ user.email }} </b> </li>
    </ul>
    {% if ordered_groups %}
        <p>
            You have made orders in:
        </p>
        <ul>
            {% for group in ordered_groups %}
            <li> <a href="/orderer/group/{{ group.gid }}"> {{ group.name }} </a> </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            You have not made any orders!
        </p>
    {% endif %}
{% endblock %}

