{% extends "orderer_base.html" %}
{% block content %}
<head>
<style>
.owedtoyou {
    color: green;
    font-weight: bold;
}

.owed {
    color: red;
    font-weight: bold;
}

</style>
</head>

    <h2>{{ group.name }} (Member)</h2>
    {% if group.timeframe_end %}
    {% if order %}
        <p>
            Order summary:
            <ul>
                {% for info in order.info %}
                    <li>{{ info.quantity }} {{ info.item[0].name }} ({{ info.item[0].price }} each, total of {{ info.item[0].price * info.quantity }})</li>
                {% endfor %}
            </ul>
            Total amount: {{ order.total_cost }}
        </p>
    {% else %}
        <p>You have not made an order yet. Make one now!</p>
    {% endif %}
    <!-- add menu here kalaish (provide item information and box where they can input quantity -->
    <!-- total amount will show at the bottom (javascript will add all prices * quantities) -->
    <!-- button here will send a request to "/orderer/ABC" (for now) with the selected items and quantity provided -->
    {% else %}
        <p>You currently cannot submit any orders as no timeframe has been allocated.</p>
    {% endif %}
{% endblock %}