{% extends "orderer_base.html" %}
{% block invite %}
<a class="button invite" id="invite"><i class="fa fa-users"></i><b>Create invite</b></a>
{% endblock %}
{% block content %}
<head>
<style>
.owedtoyou {
    color: green;
    font-weight: bold;
}

.owed {
    color: red;
    font-weight: bold;
}

</style>
</head>
    <h2>{{ group.name }} (Organiser)</h2>
    <p>
        {% if group.invite_code %}
            Invite users with the following invite code: <b> {{ group.invite_code }} </b>
        {% else %}
            Your group has no invite code. Create one now!
        {% endif %}
    </p>
    {% if not group.timeframe_end %}
        <p>
            No time frame for accepting orders has been allocated. Set a due date and time now!
        </p>
        <input id="end_date" type="date"> <input id="end_time" type="time"><br>
        <a class="button setTimeFrame" onclick="setTimeFrame()"><i class="fa fa-calendar"></i>Set end of time frame </a>
    {% else %}
        {% if order %}
        <p>
            Order summary:
            <ul>
                {% for info in order.info %}
                    <li>{{ info.quantity }} {{ info.item[0].name }} ({{ info.item[0].price }} each, total of {{ info.item[0].price * info.quantity }})</li>
                {% endfor %}
            </ul>
            Total amount: {{ order.total_cost }}
        </p>
        {% else %}
            <p>You have not made an order yet. Make one now!</p>
        {% endif %}
        <!-- add menu here kalaish (provide item information and box where they can input quantity -->
        <!-- total amount will show at the bottom (javascript will add all prices * quantities) -->
        <!-- button here will send a request to "/orderer/ABC" (for now) with the selected items and quantity provided -->
    {% endif %}
    {% if not group.orders %}
    <p>No orders have been made</p>
    {% else %}
        {% for order in group.orders %}
            <h2>Order by {{ user_db.query.get(order.orderer_id) }}</h2>
            <p>
                <p>
                    Order summary:
                    <ul>
                        {% for info in order.info %}
                            <li>{{ info.quantity }} {{ info.item[0].name }} ({{ info.item[0].price }} each, total of {{ info.item[0].price * info.quantity }})</li>
                        {% endfor %}
                    </ul>
                    Total amount: {{ order.total_cost }}
                </p>
            </p>
        {% endfor %}
    {% endif %}
    <script>
        document.getElementById("invite").href = window.location.href+"/"+"invite";
        function setTimeFrame() {
            var end_date = document.getElementById("end_date").value;
            var end_time = document.getElementById("end_time").value;
            window.location.href += `/setTimeFrame?date=${end_date}&time=${end_time}`;
        }
    </script>
{% endblock %}