{% extends "auth_template.html" %}

{% block auth %}
    <h2><b style="color: white">Set New Password</b></h2>
    <br>
    <div class="form-group">
        {{ form.new_password(size = 20, class='form-control')   }}
        {% if form.new_password.errors %}
            <ul class="errors">{% for error in form.email.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.confirm_new_password(size = 20, class='form-control')   }}
        {% if form.confirm_new_password.errors %}
            <ul class="errors">{% for error in form.email.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div>

    <button type="submit" class="button1">Set New Password</button>
{% endblock %}