<html>
{% block styles %}
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}

<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="mySidenav" class="sidenav">
    <h1 style="color: lightgray; margin-left: 10%">Orders</h1>

    <ol>
        {% for group in groups %}
        <li style="color: lightgray"><a href="/staff/home/{{ group.gid }}">{{ group.name }}</a></li>
        {% endfor %}
    </ol>
    <a href="/logout" style="position: absolute; bottom: 7%" class="logout"><i class="fa fa-sign-out"></i> Logout</a>
</div>


<div id="main">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if no_orders %}
        <h1> No orders need to be cooked right now. </h1>
    {% else %}
    <h1>Current order for {{ name }} </h1>
    <table style="width:100%">
        <tr>
            <th>Item</th>
            <th>Quantity</th>
        </tr>
        {% for item in orders %}
        <tr>
            <td>{{ item }}</td>
            <td><p>{{ orders[item] }}<input type="checkbox"><p></td>
        </tr>
        {% endfor %}
    </table>
    <a class="button create" style="padding: 5px 10px 5px 10px;" onclick="window.location.href += '/submit'">Serve Order</a>
    {% endif %}
</div>
</body>
</html>